
<section data-ng-controller="HomeController" data-ng-init="find()">

    <!-- Welcome banner  -->
    <div class="container marketing">
      <div class="row jumbotron vertical-align">
        <div class="col-md-9">
          <h1>Welcome to Smart Survey</h1>
        </div>
        <div class="col-md-3 text-center">
          <!-- Show sign up for guest  -->
          <a href="/#!/signup" data-ng-show="!authentication.user">
          <img src="modules/core/img/brand/Survey-Icon.png">
          <button type="button" class="btn btn-primary large">Sign Up to Create Your Survey!</button>
          </a>
          <!-- Show create survey for login user  -->
          <a href="/#!/surveys/create" data-ng-show="authentication.user">
          <img src="modules/core/img/brand/Survey-Icon.png">
          <button type="button" class="btn btn-primary large">Create A Survey Now!</button>
          </a>
        </div>
      </div>

      <!-- List of active survey  -->
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Take active surveys:</h3>
          </div>

          <div class="list-group">
              <a data-ng-repeat="survey in surveys" data-ng-href="#!/getsurveyquestion/{{survey._id}}" class="list-group-item">
                <small class="list-group-item-text">
                  <h4><span class="glyphicon glyphicon-pencil"></span>  {{survey.name}}</h4>
                  <span data-ng-bind="survey.expireDate | date:'yyyy-MM-dd'"></span>
                </small> 
              </a>
          </div>
      </div>

    <!--footer from here-->
    <div class="footer">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-text">2015 Copyright@ Alex (Bo) Liu, Johnny (Zhixiang) Hu, Kawser Fatema.</div>
            </div>
        </div>
    </div>
</section>

<section data-ng-controller="SurveysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Please check the popular Surveys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="survey in surveys |limitTo:5" data-ng-href="#!/surveys/{{survey._id}}" class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="survey.name"></h4>
      <small class="list-group-item-text">
                Start Date: 
                <span data-ng-bind="survey.startDate | date:'yyyy-MM-dd'"></span>
                Expired Date: 
                <span data-ng-bind="survey.expireDate | date:'yyyy-MM-dd'"></span>
                <br/>
                <div ng-show="survey.isValid">Status : OPEN</div>
                <div ng-show="!survey.isValid">Status : CLOSED</div>
      </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveys.$resolved || surveys.length">
      No Surveys yet, why don't you <a href="/#!/surveys/create">create one</a>?
    </div>
</section>