

<section data-ng-controller="HomeController">


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          <h2>Welcome to Smart Survey</h2>
          <img src="modules/core/img/brand/Survey-Icon.png">
      </div><!-- /.row -->

    <!--footer from here-->
    <div class="footer">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-text">2015 Copyright@ Alex (Bo) Liu, Johnny (Zhixiang) Hu, Kawser Fatema.</div>
            </div>
        </div>
    </div>
</section>