<section data-ng-controller="SurveysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Surveys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="survey in surveys" data-ng-href="#!/surveys/{{survey._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="survey.name"></h4>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="survey.createDate | date:'yyyy-MM-dd'"></span>
				by
				<span data-ng-bind="survey.user.displayName"></span>
                <br/>
                SurveyId : 
                <span data-ng-bind="survey._id"></span>
                <br/>
                Start Date: 
                <span data-ng-bind="survey.startDate | date:'yyyy-MM-dd'"></span>
                Expired Date: 
                <span data-ng-bind="survey.expireDate | date:'yyyy-MM-dd'"></span>
                <br/>
                <div ng-show="survey.isValid">Status : OPEN</div>
                <div ng-show="!survey.isValid">Status : CLOSED</div>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveys.$resolved || surveys.length">
    	No Surveys yet, why don't you <a href="/#!/surveys/create">create one</a>?
    </div>
</section>